<ion-app>
  <amplify-authenticator>
    <div>
      My App
      <ion-list>
        <ion-item>
          <ion-label>I, Robot</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Computer networks: a Top Down Approach</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Oathbringer</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>The Lord of the Rings: The Fellowship of the Ring</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ionic for Dummies</ion-label>
        </ion-item>
      </ion-list>

      <ion-button color="primary" (click)="presentAlert()">New Book</ion-button>
      <amplify-sign-out></amplify-sign-out>
    </div>
  </amplify-authenticator>
</ion-app>


