<ion-content>
	<amplify-authenticator>
    <div>
      <amplify-sign-out>
        <div>
          My App
          <ion-list>
            <ion-item *ngFor="let book of books">
              <ion-item>{{ book.name }}</ion-item>
              <small>{{ book.author }}</small>
            </ion-item>
          </ion-list>
          
          <ion-button color="primary" (click)="presentAlert()">New Book</ion-button>
          <amplify-sign-out></amplify-sign-out>
        </div>
      </amplify-sign-out>
    </div>
  </amplify-authenticator>
</ion-content>
