
myFixZone { 
    white-space: nowrap; 
    position: relative;
    overflow: hidden;
  
    height: 40%;
  }

  .sign-out {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.scroll {
    height: 100%;
}

.groupList {
    overflow-y: scroll;
}